<!--<!doctype html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="ru" xmlns="http://www.w3.org/1999/html">-->
<!--<head>-->
<!--    &lt;!&ndash; Кодировка веб-страницы &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    &lt;!&ndash; Настройка viewport &ndash;&gt;-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <title>...</title>-->

<!--    &lt;!&ndash; Bootstrap CSS (Cloudflare CDN) &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css"-->
<!--          integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="-->
<!--          crossorigin="anonymous" referrerpolicy="no-referrer">-->
<!--    &lt;!&ndash; jQuery (Cloudflare CDN) &ndash;&gt;-->
<!--    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"-->
<!--            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="-->
<!--            crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<!--    &lt;!&ndash; Bootstrap Bundle JS (Cloudflare CDN) &ndash;&gt;-->
<!--    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"-->
<!--            integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=="-->
<!--            crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<!--</head>-->
<!--<body>-->

<!--<div class="container">-->
<!--    <h2>Modal Example</h2>-->
<!--    &lt;!&ndash; Button to Open the Modal &ndash;&gt;-->
<!--    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">-->
<!--        Open modal-->
<!--    </button>-->

<!--    &lt;!&ndash; The Modal &ndash;&gt;-->
<!--    <div class="modal" id="myModal">-->
<!--        <div class="modal-dialog">-->
<!--            <div class="modal-content">-->

<!--                &lt;!&ndash; Modal Header &ndash;&gt;-->
<!--                <div class="modal-header">-->
<!--                    <h4 class="modal-title">Modal Heading</h4>-->
<!--                    <button type="button" class="close" data-dismiss="modal">×</button>-->
<!--                </div>-->





<!--                &lt;!&ndash; Modal body &ndash;&gt;-->
<!--                <div class="modal-body">-->



<!--                    Modal body..-->
<!--                </div>-->







<!--                &lt;!&ndash; Modal footer &ndash;&gt;-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->

<!--</body>-->
<!--</html>-->